@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
}

.blog_teaser .pseudo_blok {
  display: block;
}
.blog_teaser .meta_info span {
 font-size: 0.85rem;
 line-height: 1.1;
}
.blog_teaser .author_img {
  width: 35px;
  height: 35px;
}