@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    color: #1e2121;
  }

  body,
  li,
  a {
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    font-size: 40px;
  }
}

/* html {
  scroll-behavior: smooth;
} */

@media screen and (max-width:767px) {
  html {
    overflow-x: hidden;
  }
}

.blog_teaser .pseudo_blok {
  display: block;
  font-weight: 600;
  color: #000;
}

.blog_teaser .pseudo_blok+span {
  display: none;
}

.blog_teaser .meta_info span {
  font-size: 0.85rem;
  color: #000;
  line-height: 1.1;
}

.blog_teaser .author_img {
  width: 35px;
  height: 35px;
}

.related-articles .blog_teaser {
  background-color: #fff;
}

@media screen and (min-width:768px) {
  .layout-with-index .article-content {
    flex-basis: 50%;
    max-width: 50%;
  }
}